<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавить обязанность</title>
</head>
<body>
    <form action="#" th:action="@{/add-responsibility}" th:object="${responsibility}" method="post">
        <label for="deputyId">Заместитель</label>
        <input type="text" th:field="*{deputyId}" id="deputyId" placeholder="Заместитель">
        <span th:if="${#fields.hasErrors('deputyId')}" th:errors="*{deputyId}"></span>
        <label for="link">Ссылка *</label>
        <input type="text" th:field="*{link}" id="link" placeholder="Ссылка">
        <span th:if="${#fields.hasErrors('link')}" th:errors="*{link}"></span>
        <label for="description">Описание</label>
        <input type="text" th:field="*{description}" id="description" placeholder="Описание">
        <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>

        <input type="submit" value="Добавить сотрудника">
    </form>
</body>
</html>